.biggestContainer {
  display: flex;
  width: 100%;
  padding: 20px;
  .mainContainer {
    width: 70%;
  }
  .otherVideos {
    width: 30%;
    max-height: 150vh;
    overflow: auto;
  }
  .otherVideos::-webkit-scrollbar {
    width: 0;
    background-color: $bg;
  }
}

#videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  video {
    width: 92%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    width: 87%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 10px;
    padding-right: 15px;
    left: 0;
    box-sizing: border-box;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__time {
        font-size: 12px;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        i {
          font-size: 20px;
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
    .videoControls__fullScreen {
      i {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
